@charset "UTF-8";
/*********************
기본적으로 초기화할 내용들
**********************/
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
html, body, div, span, em, p, address, pre,
h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,
form, fieldset,legend,label,
table,caption,thead, tfoot, tbody, tr, th, td,
a, img{
    border: 0px;
    background: transparent; /* 투명 */
    font-size: 13px;
    line-height: 1;
    font-family: 굴림, gulim, sans-serif;
    color: #555;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}
ul,ol{ list-style: none; }

table{
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;/* 테이블의 크기가 정해지면 더 이상
                            크기조정을 못하게 함! */
}
caption, legend{
    display: none;
}
pre{
    line-height: 1.5em;/* 부모태그의 설정값에서 1.5배 */
}
/**************************
기본적인 링크(a태그) 초기화
**************************/
a:hover{ color: #555; text-decoration: none; }
a:active{ color: #555; text-decoration: none; }
a:link{ color: #555; text-decoration: none; }
a:focus{ color: #555; text-decoration: none; }
a:visited{ color: #555; text-decoration: none; }
