.wrap {
    padding-bottom: 20px;
    text-align: center;
}
.img_item{
    display: block;
    margin: 0 auto;
}
.title_item{
    display: inline-block;
    width: 160px;
    margin: 10px auto;
    overflow: hidden;
    height: 40px;
}
.txt_info{
    display: block;
    margin-bottom: 10px;
    color: #999;
    text-align: center;
}
.num_price{
    font-size: 17px;
    color: skyblue;
    font-weight: bold;
}

headArea{
    position:relative;
}

headItem-left{
    display: flex;
}

headItem-right{
    display: flex;
}