@charset "UTF-8";

#wrap{ /* 전체 영역 */
  width: 970px;
  height: 100%;
  margin: auto;
}

#contents .tit02{ /* 헤더 영역 */
  width: 132px;
  height: 30px;
  margin-bottom: 30px;
  margin-left: -20px;
  text-indent: -9999px;
  background: url("../img/sub_title.png") no-repeat;
  background-position: 0 -50px;
}

#contents .tit03{ /* 개인회원 영역 */
  width: 290px;
  height: 80px;
  text-indent: -9999px;
  background: url("../img/sub_title.png") no-repeat;
  background-position: 0 -80px;
}
#contents .tit04{ /* 단체회원 영역 */
  width: 290px;
  height: 80px;
  text-indent: -9999px;
  background: url("../img/sub_title.png") no-repeat;
  background-position: 0 -160px;
}


#contents{ /* 컨텐츠 영역 */
  margin: 30px 30px;
  /*border: 1px solid red;*/
}

#contents .login_area{ /* 로그인 영역 */
  width: 100%;
  height: 300px;
  /*border: 1px solid red;*/
  /*display: inline-block;*/
  background: url("../img/login_bg.png") no-repeat;
  background-position: 0 45px;
  /*padding: 20px 70px; 강사님*/
  position: relative; /* 그룹회원 로그인을 우측으로 붙이기 위한 속성 강사님*/
}

#contents .person_login{
  display: inline-block;
  width: 290px;
  margin-top: 65px;
  margin-left: 72px;
}
#contents .group_login{
  display: inline-block;
  width: 290px;
  margin-left: 154px;
  /*position: absolute;
  right: 70px; 강사님*/
}

.input_area{ /* 입력창 영역 */
  position: relative;
  width: 195px;
  margin-left: 0px;
}
.input_area p {
  width: 190px;
  position: relative; /*  자식 태그 기준 */
  height: 35px;
  line-height: 35px;  /* 아이디 비밀번호 세로 정렬 */
}
.input_area p label{
  display: inline-block;
  background: url("../img/bult.png") no-repeat;
  background-position: 0px -77px;
  padding-left: 10px;
}

.btn_area{ /* 버튼창 영역 */
  display: inline-block;
  width: 86px;
  height: 56px;
  position: relative;
  top: -40px;
}
#contents form>div{
  display: inline-block;
}

.input_area>p>input{
  width: 110px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 5px;
}

#contents .b_login{
  width: 86px;
  height: 56px;
  background: url("../img/btn.png") no-repeat;
}

.login{
  /*padding: 15px 0px; 강사님*/
  position: relative;
}
.b_search{
  position: absolute;
  right: 0;
  width: 158px;
  height: 28px;
  background: url("../img/btn.png") no-repeat;
  background-position: -99px 0;
  /*border: 1px solid red;*/
  top: 4px;
}
.login_search{
  position: relative; /* 버튼 우측으로 붙이기 위한 속성 */
  border-top: 1px solid #999999;
  margin-top: -20px;
}
.login_search input {
  margin-top: 10px;
  border: 1px solid red;
}
