@charset "utf-8";

#contents{
  width: 900px;
  height: auto;
  margin: auto;
  padding-top: 30px;
}

/* 탭 영역 */
.tab_type01{
  padding: 10px 0;
}
.tab_type01 ul{
  font-size: 0; /* 리스트들 사이의 간격을 없앰 */
}
.tab_type01 ul li{
  display: inline-block; /* 탭 역할 */
  width: 298px;
  height: 35px;
  border: 1px solid #767676;
  background: #767676;
  border-right: 1px solid #fff;
}
.tab_type01 ul li a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center; /* 수직 가운데 정렬 */
  line-height: 35px; /* 수평 가운데 정렬 */
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.tab_type01 ul li.selected{ /* 띄어쓰기 헷갈리지 않게 조심하기 */
  background: #fff;
  border: 1px solid #ff4f00;
  border-bottom: none;
}
.tab_type01 ul li.selected a{
  color: #ff4f00;
}
.tab_cont{
  padding-top: 30px;
  line-height: 1.5em; /* 부모 태그의 1.5배 */
  display: none; /* 화면에 안보이도록 함! */
}
.show{
  display: block;
}
